@font-face {
    font-family: 'deltarune'; 
    src: url('../fonts/undertale-deltarune-text-font-extended.otf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}


body {
    margin: 0;
    padding: 0;
    font-family: 'deltarune';
    position: relative; 
    background-color: #000000;
}

.container h1{
    font-size: 50px;
    color: yellow;
    text-align: center;
    margin-top: 20px;
}

.container {
    font-family: 'deltarune';
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000000;
}

.container .button {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    background-color: #00b105; 
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}

.container .button:hover {
    background-color: #000000;
    transition: all 3s ease-in-out;
}

.button p {
    cursor: pointer;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button p:hover {
    color: yellow;
    transition: all 3s ease-in-out;
}

.respawnButton {
    position: absolute;
    top: 400px;
    left: 657px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 140px;
    background-color: #98d5e5;
    border-radius: 50%;
}

.respawnButton img {
    width: 50px;
    height: auto;
}

.respawnButton .respawnAction{
    cursor: pointer;
}


.stalwalkerButton {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 30px;
    background-color: #000000;
    cursor: pointer;
}

.container .speakerLogo{
    position: absolute;
    top: 15px;
    left: 97%;
    width: 25px;
    height: auto;
    cursor: pointer;
}

.save-overlay {
    position: fixed;
     top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}
.save-image-container {
    position: relative;
}
.save-image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.save-image-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    text-align: center;
    white-space: pre-line;
}

.textRespawn{
    position: absolute;
    left: 37%;
    top: 550px;
    color: #ffffff;
    text-align: center;
}